@font-face {
  font-family: "roboto regular";
  src: url("Roboto-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto bold";
  src: url("Roboto-Bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto thin";
  src: url("Roboto-Thin-webfont.woff");
  font-weight: thin;
  font-style: normal;
}

.font-color--orange {
  color: #ffb100;
}

.font-color--white {
  color: #ffffff;
}

.font-color--black {
  color: #333333;
}

.font-color--gray {
  color: #5f5f5f;
}

.h1 {
  font-family: "roboto bold", sans-serif;
  font-size: 72px;
}

.h2 {
  font-family: "roboto regular", sans-serif;
  font-size: 36px;
}

.h3 {
  font-family: "roboto bold", sans-serif;
  font-size: 18px;
}

.h4 {
  font-family: "roboto bold", sans-serif;
  font-size: 14px;
}

.h5 {
  font-family: "roboto thin", sans-serif;
  font-size: 12px;
}

.slide-1 {
  width: 100%;
  height: 700px;
}

.slide-1__content {
  padding-top: 100px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.nav {
  list-style: none;
}

.nav__item {
  float: left;
}

.nav__item--margin-left {
  margin-left: 50px;
}

.nav__link {
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear: both;
  text-align: center;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__description {
  margin-top: 0;
  margin-bottom: 50px;
}

.hero__button {
  text-decoration: none;
  background-color: #f61952;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
}

.slide-2 {
  width: 100%;
  height: 485px;
}

.slide-2__grid {
  display: grid;
  grid-template-areas: "grid-item grid-item grid-item" "grid-item grid-item grid-item";
  grid-row-gap: 50px;
  grid-column-gap: 145px;
}

.card {
  width: 230px;
  height: auto;
  text-align: center;
}

.card__title {
  margin-bottom: 10px;
}

.card__description {
  margin-top: 0;
  margin-bottom: 0;
}

.slide-3 {
  width: 100%;
  height: 521px;
  background-image: url("../img/slide-3/bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffe400;
}

.slide-4 {
  width: 100%;
  height: 288px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide-5 {
  width: 100%;
  height: 648px;
}

.slide-5__grid {
  display: grid;
  grid-template-areas: "grid-item grid-item grid-item" "grid-item grid-item grid-item";
  grid-row-gap: 50px;
  grid-column-gap: 145px;
}

.card--bg {
  background-repeat: no-repeat;
  height: 110px;
}

.card--bg-1 {
  background-image: url("../img/slide-5/1.png");
}

.card--bg-2 {
  background-image: url("../img/slide-5/2.png");
}

.card--bg-3 {
  background-image: url("../img/slide-5/3.png");
}

.card--bg-4 {
  background-image: url("../img/slide-5/4.png");
}

.card--bg-5 {
  background-image: url("../img/slide-5/5.png");
}

.card--bg-6 {
  background-image: url("../img/slide-5/6.png");
}

.card--bg-7 {
  background-image: url("../img/slide-5/7.png");
}

.slide-6 {
  width: 100%;
  height: 500px;
}

.form {
  width: 400px;
  margin: auto;
}

.network {
  list-style: none;
  text-align: left;
}

.network__item {
  margin-bottom: 15px;
}

.network__logo {
  margin-right: 25px;
}

.network__link {
  text-decoration: none;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}

.email {
  width: 385px;
  padding: 7px;
}

.textarea {
  width: 385px;
  padding: 7px;
  height: 100px;
  margin-bottom: 0;
  border: none;
}

.send {
  border: none;
  background-color: #f61952;
  width: 215px;
  height: 55px;
}

.attach {
  margin-top: -20px;
  background-color: #FFF;
  text-align: right;
}

.slide-7 {
  width: 100%;
  height: 20px;
  background-color: #191919;
  text-align: center;
  margin-top: 75px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 980px;
  margin: auto;
}

.content {
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
}

.boolet {
  position: fixed;
  top: 200px;
  right: 50px;
}

.boolet__list {
  list-style: none;
}

.boolet__item {
  margin-bottom: 15px;
}
